* {
    font-family: 'PT Sans', sans-serif;
}

body > *{
    width:100%;

}

a{
    color:blue;
}

a:hover {
    color: rgb(20, 151, 202);
  }
a:active {
    color: #800080;
}

@media print {
    image{
        width:2in;
        height:fit-content;
    }
}

/* Header Styling set */
header{
    height: 10%;
    position: fixed;
    left:0%;
    top:0%;
}

header h1{
    color:aliceblue;
    position:absolute;
    left: 10px;
    min-width: 4in;
    text-align: left;
    text-decoration: underline;
}

/* Journal Entry Styling set */
main {
    top:10%;

    border-width: .1cm;
    border-style: solid;
    border-color:hsl(0,0,50%);
    border-radius: 5px;

    margin: 2% .5cm 2% .5cm;

    padding: 2% .5cm 2% .5cm;

    width:92%;
}

section {
    background-color: darkgrey;
    border-radius: 5px;

    margin: 2% .5cm 2% .5cm;

    padding: 2% .5cm 2% .5cm;
    width:92%;
}

summary ~ p.author {
    background-color: grey;
    border-radius: 5px;
    margin: 4% .2cm 4% .2cm;
    display:inline;
}

summary {
    display: flexbox;
}

div.media {
    display:grid;
    grid-template-columns: 20% 80%;
    grid-template-rows: auto auto;
    justify-content: space-evenly;
    background-color: lightgray;
    border-radius: 5px;
    margin: 4% .2cm 4% .2cm;
}

.media > b{
    width:100%;
}

img{
    width:90%;
    height:auto;
}

span + audio{
    width: 80%;
}

/* Form Styling set */


/* Footer Styling set */