* {
    font-family: 'PT Sans', sans-serif;
}

body > *{
    width:100%;

}

a:hover {
    background-color: rgb(20, 151, 202);
  }
  a:active {
    background-color: #800080;
  }

/* Header Styling set */
header{
    height: 10vw;
    position: fixed;
}

header h1{
    color:aliceblue;
    position:absolute;
    left: 10px;
    min-width: 4in;
    text-align: left;
    text-decoration: underline;
}

/* Journal Entry Styling set */
main {

}

.entry {

}
/* Form Styling set */


/* Footer Styling set */